.reviews__text {
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

@media screen and (max-width: 870px) {
  .reviews__text {
    font-size: 20px;
    margin-bottom: 15px;
    min-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .reviews__text {
    font-size: 17px;
    margin-bottom: 10px;
    min-width: 300px;
  }
}

@media screen and (max-width: 424px) {
  .reviews__text {
    font-size: 14px;
    min-width: 0;
    width: 100%;
  }
}
