.reviews__btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews__btn:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;

  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;  
}

.reviews__btn--prev {
  left: 0;

  transform: translateY(-50%) rotate(-135deg);
}

.reviews__btn--next {
  right: 0;

  transform: translateY(-50%) rotate(45deg);
}