.accordion__header {
  position: relative;
  border-bottom: 1px solid transparent;
  padding: 15px 20px 15px 62px;
  cursor: pointer;
}

.accordion__header:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}