.accordion__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.accordion__item.active
.accordion__content {
  display: block;
}

.accordion__item.active
.accordion__header {
  border-bottom: 1px solid #e5e5e5;
}

.accordion__item.active
.accordion__header:after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}