.subscribe__btn {
  height: 40px;
  width: 40%;
  padding: 12px 30px;

  background-color: #95e1d3;
  border: 0;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  transition: background .2s linear;
}

.subscribe__btn:hover {
  background-color: #81c1b5;
}

.subscribe__btn:focus {
  outline: 0;
}