.section_map {
  background: #e6e6e6 url("../../images/map-bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 40px 0;
}

@media screen and (max-width: 424px) {
  .section_map {
    padding: 20px 0;
  }
}