.section__subtitle {
  margin: 0;
  font-size: 24px;
  font-family: 'Kaushan Script', cursiv;
  font-weight: 400;
  color: #333333;
}

@media screen and (max-width: 768px) {
  .section__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 425px) {
  .section__subtitle {
    font-size: 20px;
  }
}