.card__name {
  width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
  color: #333333;
  text-transform: uppercase;
}

@media screen and (max-width: 424px) {
  .card__name {
    font-size: 13px;
  }
}