.card__info {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .card__info {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .card__info {
    margin-top: 10px;
  }
}
