.card__item {
  max-width: 380px;
  width: calc(100%/3);
  min-width: 200px;
  height: 100%;
  background-color: #95e1d3;
  position: relative;
}

.card__item:hover .card__inner {
  transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__image {
  opacity: .1;
}

.card__item:hover .card__text {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .card__item {
    margin: 0 15px 0 0;
  }

  .card__item:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .card__item {
    width: 100%;
    max-width: 420px;
    margin: 0 auto 15px;
    align-items: center;
  }

  .card__item:last-child {
    margin: 0;
  }

  .section_team .card__item {
    margin-bottom: 90px;
  }

  .section_team .card__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .card__item {
    width: 95%;
  }

  .card__item:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 424px) {
  .section_team .card__item {
    margin-bottom: 75px;
  }
}