.blog__footer {
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

@media screen and (max-width: 767px) {
  .blog__footer {
    padding-top: 5px;
  }
}

@media screen and (max-width: 424px) {
  .blog__footer {
    font-size: 13px;
  }
}