.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .blog {
    max-width: 65%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .blog {
    max-width: 75%;
  }
}

@media screen and (max-width: 424px) {
  .blog {
    max-width: 100%;
  }
}