.stat__item {
  display: inline-block;
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #b5eae0;
  color: #ffffff;
  text-align: center;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__item i {
  color: #95e1d3;
}

@media screen and (max-width: 950px) {
  .stat__item {
    flex: none;
    width: 33%;
    border: none;
    padding: 50px 25px;
  }

  .stat__item:last-child {
    border: none;
  }
}

@media screen and (max-width: 610px) {
  .stat__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-width: 290px;
    padding: 5px 0 0 0;
  }

  .stat__item:last-child {
    padding: 0 0 5px 0;
  }
}

@media screen and (max-width: 424px) {
  .stat__item {
    min-width: 260px;
    padding: 0;
  }
}