.intro__title {
  position: static;
  margin: 0;
  font-size: 150px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 40px auto 30px;
  background-color: #ffffff;
}

@media screen and (max-width: 1279px) {
  .intro__title {
    font-size: 130px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__title {
    font-size: 100px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 55px;
  }
}

@media screen and (max-width: 424px) {
  .intro__title {
    font-size: 38px;
  }
}