.intro__subtitle {
  margin: 0 0 20px 0;
  font-family: 'Kaushan Script', cursiv;
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (max-width: 1279px) {
  .intro__subtitle {
    font-size: 58px;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 1023px) {
  .intro__subtitle {
    margin: 0;
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .intro__subtitle {
    margin: 0;
    font-size: 43px;
  }
}

@media screen and (max-width: 500px) {
  .intro__subtitle {
    margin: 0;
    font-size: 28px;
  }
}

@media screen and (max-width: 424px) {
  .intro__subtitle {
    margin: 0;
    font-size: 22px;
  }
}