.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background: url("../../images/intro1block.jpg") center no-repeat;
  background-size: cover;
}