.logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 900px) {
  .logos {
    grid-template-columns: repeat(3, 133px);
    grid-template-rows: repeat(2, 133px);
    column-gap: 35px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .logos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0;
  }
}

@media screen and (max-width: 424px) {
  .logos {
    column-gap: 15px;
  }
}