.clients__name {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}

@media screen and (max-width: 424px) {
  .clients__name {
    font-size: 13px;
  }
}