.clients__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .clients__photo {
    left: 15px;
  }
}

@media screen and (max-width: 550px) {
  .clients__photo {
    position: static;
  }
}